/**
 * Navbar Styling
 */

.navbar-dark {
  background-color: #f2efbb;
  white-space: nowrap;
  font-weight: 500;
  font-size: 18px;
}

.nav-link {
  color: #59220e;
}

.nav-link:hover {
  color: #af380d;
  border-bottom: 1px solid #59220e;
  text-decoration: none;
  border-radius: 32px;
  font-weight: 700;
  font-size: 18px;
  transition: all 0.3s ease;
  transition-duration: 0.7s;
}

.nav-link:visited {
  color: #59220e;
  text-decoration: none;
}

.nav-access {
  color: #f2efbb;
  margin: 0 10px;
  padding: 5px 10px;
  text-decoration: none;
  font-weight: 600;
  font-size: 16px;
  background: #4f8c8c;
  border: 1px solid #59220e;
  border-radius: 32px;
}

.nav-access:hover {
  width: 120px;
  text-align: center;
  background: #427777;
  border: 1.5px solid #59220e;
  color: #f2efbb;
  transition: all 0.1s ease;
  transition-duration: 0.1s;
}

.nav-title {
  color: #59220e;
  font-family: "Gravitas One", cursive;
  font-size: 20px;
  font-weight: 700;
}

.navbar-nav-end {
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: center;
  white-space: nowrap;
}

@media (max-width: 1024px) {
  .navbar-collapse {
    text-align: center;
  }

  .navbar-nav {
    flex-direction: column;
    align-items: center;
  }

  .navbar .nav-link,
  .navbar .nav-access {
    margin: 10px 0;
  }

  .navbar-nav-end {
    flex-direction: row;
    gap: 10px;
  }

  .nav-item {
    width: 100%;
  }

  .navbar-dark,
  .nav-access {
    font-weight: 500;
    font-size: 12px;
    margin: 0px;
  }
}

@media (max-width: 768px) {
  .navbar-nav-end {
    margin-bottom: 18px;
  }
}

/**
 * Footer Styling
 */

/* Estilo general del pie de página */
footer {
  background-color: #4f8c8c;
  color: #f2efbb;
  padding-top: 40px;
  padding-bottom: 20px;
}

/* Títulos del pie de página */
footer h5,
footer h6 {
  color: #f2efbb;
  font-weight: 700;
  margin-bottom: 20px;
}

/* Enlaces del pie de página */
footer a {
  color: #f2efbb;
  text-decoration: none;
  font-weight: 500;
  transition: all 0.3s ease;
  padding: 5px 0;
}

footer a:hover {
  color: #bf9969;
  text-decoration: underline;
  transition: color 0.3s ease, text-decoration 0.3s ease;
}

/* Sección de "Navegación" */
footer .col-md-3 ul {
  padding-left: 0;
  list-style: none;
  margin-bottom: 15px;
}

footer .col-md-3 ul li {
  margin-bottom: 10px;
}

/* Estilo de los íconos sociales */
footer .fab {
  font-size: 20px;
  margin-right: 10px;
}

footer .fab:hover {
  color: #a64b29;
  transition: color 0.4s ease;
}

/* Sección de contacto */
footer .contact-info p {
  margin-bottom: 5px;
}

/* Estilo del borde superior del pie */
footer .border-top {
  border-top: 1px solid #59220e;
}

/* Responsividad para pantallas pequeñas */
@media (max-width: 768px) {
  footer .container {
    text-align: center;
  }

  footer .col-md-3 {
    margin-bottom: 20px;
  }

  footer .col-md-3 ul {
    padding-left: 0;
    list-style: none;
  }
}