/**
 * Navbar Styling
 */

.navbar-dark {
  background-color: #f2efbb;
  white-space: nowrap;
  font-weight: 500;
  font-size: 18px;
}

.nav-link {
  color: #59220e;
}

.nav-link:visited {
  color: #59220e;
  text-decoration: none;
}

.nav-access {
  color: #f2efbb;
  margin: 0 10px;
  padding: 5px 10px;
  text-decoration: none;
  font-weight: 600;
  font-size: 16px;
  background: #4f8c8c;
  border: 1px solid #59220e;
  border-radius: 32px;
}

.nav-title {
  color: #f2efbb;
  font-family: "Gravitas One", cursive;
  font-size: 20px;
  font-weight: 700;
}

.navbar-nav-end {
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: center;
  white-space: nowrap;
}

@media (max-width: 1024px) {
  .navbar-collapse {
    text-align: center;
  }

  .navbar-nav {
    flex-direction: column;
    align-items: center;
  }

  .navbar .nav-link,
  .navbar .nav-access {
    margin: 10px 0;
  }

  .navbar-nav-end {
    flex-direction: row;
    gap: 10px;
  }

  .nav-item {
    width: 100%;
  }

  .navbar-dark,
  .nav-access {
    font-weight: 500;
    font-size: 12px;
    margin: 0px;
  }
}

@media (max-width: 768px) {
  .navbar-nav-end {
    margin-bottom: 18px;
  }
}