body {
  background-color: #fffce5;
}

/* Estilos específicos para la página de Comercialización */
.comercializacion-page {
  /* background-color: #fffce5; */
  padding: 50px 0;
}

.comercializacion-page h1,
.comercializacion-page h2 {
  color: #59220e; /* Yerba-mate-4 oscuro */
  font-family: "Arial", sans-serif;
}

.comercializacion-page h1 {
  font-size: 2.5rem;
}

.comercializacion-page h2 {
  font-size: 1.75rem;
  margin-bottom: 1rem;
}

/* Estilos de las listas dentro de la página Comercialización */
.comercializacion-page .list-unstyled {
  color: #3f1406; /* Yerba-mate-4 oscuro */
  font-size: 1.1rem;
  line-height: 1.8;
}

/* Estilos para los elementos de la lista dentro de Comercialización */
.comercializacion-page .list-unstyled li {
  margin-bottom: 1.5rem;
}

.comercializacion-page .list-unstyled li strong {
  color: #3f1406; /* Yerba-mate-4 oscuro */
  font-weight: bold;
}

.comercializacion-page .list-unstyled i {
  color: #8b3d1b; /* Yerba-mate-5 oscuro */
  margin-right: 10px;
  font-size: 1.5rem;
}

/* Estilo de los contenedores de las secciones dentro de Comercialización */
.comercializacion-page .row {
  margin-bottom: 30px;
}

.comercializacion-page .col-md-5 {
  background-color: #fff;
  border-radius: 10px;
  padding: 30px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.comercializacion-page .col-md-8 {
  background-color: #fff;
  border-radius: 10px;
  padding: 30px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Estilos para dispositivos móviles */
@media (max-width: 768px) {
  .comercializacion-page .col-md-5 {
    margin: 0 10px 20px;
  }

  .comercializacion-page .col-md-8 {
    margin: 0 10px 20px;
  }
}

/* Estilos para los iconos de la página de Comercialización */
.comercializacion-page i.bi,
.comercializacion-page i.fas {
  color: #8b3d1b; /* Yerba-mate-5 oscuro */
}

/* Estilo para los márgenes */
.comercializacion-page .mb-4 {
  margin-bottom: 1.5rem;
}

.comercializacion-page .text-center {
  text-align: center;
}

/* Estilos para botones (si los agregas en Comercialización) */
.comercializacion-page .btn {
  background-color: #8b3d1b; /* Yerba-mate-5 oscuro */
  color: white;
  border-radius: 5px;
  padding: 10px 20px;
  text-transform: uppercase;
  font-weight: bold;
  border: none;
}

.comercializacion-page .btn:hover {
  background-color: #7a3015; /* Un tono más oscuro para hover */
}
